/* 
    Created on : Nov 10, 2016, 10:18:20 AM
    Author     : Sunny
*/

.tf-loader-wrapper
{
    position : relative;
    overflow : hidden;
}

.tf-loader-wrapper .tf-body
{
    position: fixed;  
    width: 100%;
    height: 100%;  
    z-index : 1000;
    background-color: #333333;
    opacity: 0.85
}

.tf-loader-wrapper .tf-section
{
    position: absolute;
    display: table-cell;
    width: 100%;
    height: 100%;
    z-index : 1000;
    background-color: #333333;
    opacity: 0.85;
    
}

.tf-loader-wrapper .tf-loader-block
{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 130px;
    height: 130px;
    margin: -35px 0 0 -35px;
    border: 14px solid #FFF;
    border-radius: 50% !important;
    border-top: 14px solid #32C5D2;
    -webkit-animation: tf-loader-spin 2s linear infinite;
    animation:  tf-loader-spin 2s linear infinite;
}

@-webkit-keyframes  tf-loader-spin
{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes  tf-loader-spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}